@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    width: 100vw;
    height: 100vh;
    padding-top: 50px;
    background-image: url(../imagens/fundo.png);
    background-size: cover;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: space-around;
    width: 620px;
    height: 450px;
    font-size: 16px;
    font-family: 'Josefin Sans', sans-serif;
    background-color: #bbccbdb4;
    border-radius: 20px 40px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.377);
}

#text-notas {
    text-align: center;
    font-size: 28px;
    text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.377);
    color: #05001b;
    padding: 15px;
}

.notas{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px; 
    text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.377);   
}

#nota1 {
    border: none;
    height: 30px;
    width: 220px;
    padding: 5px;
    border-radius: 5px;
    outline: none;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.192);
}

#nota2 {
    border: none;
    height: 30px;
    width: 220px;
    padding: 5px;
    border-radius: 5px;
    outline: none;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.192);
}

#nota3 {
    border: none;
    height: 30px;
    width: 220px;
    padding: 5px;
    border-radius: 5px;
    outline: none;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.192);
}

#botao {
    border: none;
    width: 20vw;
    height: 30px;
    border-radius: 10px;
    background-color: #464D47;
    font-weight: bold;
    font-size: 16px;
    font-style: italic;
    font-family: 'Josefin Sans', sans-serif;
    color: white;
    letter-spacing: 1.2px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.192);
    cursor: pointer;
}

#botao:hover {
    width: 21vw;
    height: 37px;
    background-color: #757e75;
    transition-duration: 0.5s;
}

#media {
    text-align: center;
}

footer {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    color: #F1F0F2;
    font-family: 'Josefin Sans', sans-serif;
    text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.377);
    padding: 6px;
}
